$tiny: 8px;
$xx-small: 16px;
$x-small: 24px;
$small: 32px;
$medium: 40px;
$large: 48px;
$x-large: 56px;
$xx-large: 64px;
$big: 72px;
$x-big: 80px;
$xx-big: 88px;
$huge: 96px;
$x-huge: 104px;
$xx-huge: 112px;
$xxx-huge: 120px;

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 40px;

$border-stroke: 1.5px;
$border-stroke-bold: 2px;