@import '../../styles/index.scss';

.card {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: $xx-small;
    flex-direction: column;
    align-items: flex-start;
    gap: $x-small;
    flex-shrink: 0;
    border-radius: $border-radius-md;
}

.withFixedWidth {
    width: 322px;
}

.card.dark {
    background: $neutral-color-800;
    color: $neutral-color-200;
}

.card.light {
    background: $neutral-color-200;
    color: $neutral-color-800;
}

.title {
    font-size: $h6-size;
    font-weight: $bolder-weight;
    line-height: 150%; 
}

.content {
    font-size: $caption-size;
    font-weight: $bold-weight;
    line-height: 150%;
}